.RpChartElement {
    border: 1px solid black;
    width: 170px;
    opacity: .8;
}

.YrpData {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}