/*_______________________________MainContainer__________________________*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*________________HeadContainer_________________*/
text {
    color: black;
    margin-right: 85%;
    font-size: 23px;
    padding-left: 20px;
}

/*________________End_HeadContainer_____________*/
/*________________BodyContainer_________________*/
/*__________FirstSection_____________*/
.fst_label1 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #898989;
}

.fst_label2 {
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #898989;
}

.ProgressArea {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 20px;

}

.progresscircle {
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-top: 5px;
}

.skilled {
    height: 100px;
    width: 100px;
    position: relative;
}

.outer {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 9px;
}

.inner {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;

}

.number {
    font-weight: bold;
    font-size: 22px;
    color: #555;
}

circle {
    fill: none;
    stroke: rgb(182, 182, 182);
    stroke-width: 10px;
    stroke-dasharray: 472;
    stroke-dashoffset: 0;

}

.circleprogress {
    position: absolute;
    top: 0;
    left: 0;
}

.progresscircle {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*__________End_FirstSection_________*/
/*__________SecondSection_____________*/
.Scd_FirstState {
    background-color: #ABD373;
    width: 70%;
    text-align: center;
    padding: 10px;
}

.Scd_SecondState {
    background-color: #7266BA;
    width: 30%;
}

.scd_label {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.income_item {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.scd_progressBar {
    width: 210px;
    height: 10px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/*__________End_SecondSection_________*/
/*__________ThirdSection_____________*/
.SingleState {
    padding: 10px;
    background-color: #fff;
    height: 100%;
    width: 500px;
    border-radius: 10px;
    box-shadow: -5px 5px 5px gray;
    margin-right: 30px;
    font-weight: bold;
    color: #898989;
}

.dataNumber {
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}


/*__________End_ThirdSection_________*/
/*__________FifthSection_____________*/



.ChartElement {
    border: 1px solid black;
    width: 80px;
    opacity: .8;
}

th, td {
    border: 1px solid black;
    width: 70px;
    opacity: .8;
}

.hr1 {
    margin: 0px;
    color: #7266BA;
    border: 0;
    border-top: 3px solid;
    opacity: 1;
}


.Fif_label2 {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    background-color: #7266ba;
}


/*__________End_FifthSection_____________*/
.hr2 {
    margin: 0px;
    color: #ABD373;
    border: 0;
    border-top: 3px solid;
    opacity: 1;
}

.Sev_label2 {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    background-color: #ABD373;
}

/*__________SeventhSection_____________*/
/*__________End_SeventhSection_____________*/
/*________________End_BodyContainer____________*/
/*________________RightContainer________________*/
/*____________ShopAdv____________*/


/*____________End_ShopAdv____________*/
.switch {


    display: flex;
    margin-top: 10px;
    margin-left: 15px;
}

.button {
    background-color: #d2d2d2;
    width: 45px;
    height: 26px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    margin-left: 40px;

}

.button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 17px;
    height: 17px;
    border-radius: 200px;
    margin: 5px;
    transition: 0.2s;
}

input:checked+.button {
    background-color: #ABD373;
}

input:checked+.button::before {
    transform: translateX(-20px);
}

input {
    display: none;
}



/*________________End_RightContainer________________*/

/*_______________________________End_MainContainer______________________*/