input {
    margin-left: 30px;
    height: 30px;
    width: 250px;
    border-radius: 15px 0 0 15px;
    border: none;
    text-align: start;
    font-size: 15px;
    display: flex;
    padding: 10px;
}

.SearchButton {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    height: 30px;
    width: 40px;
    border: none;
    border-radius: 0 15px 15px 0;
}

.ThemKH {
    margin-left: 1200px;
    width: 60px;
    font-size: 10px;
    height: 25px;
    border-radius: 15px 0 0 15px;
    border: none;
    border-right: 1px;
    background-color: #7266BA;
    color: #fff;
}



.TaoDonHang {
    font-size: 10px;
    height: 25px;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 80px;
    background-color: #ABD373;
    color: #fff;

}

.userArea {
    display: flex;
    align-items: center;
    margin-left: 100px;
    background-color: #ABD373;
    color: #fff;
    height: 100%;
    width: 140px;
    padding: 10px;
    font-size: 12px;

}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 5px;
}