.ThemKH {
    margin-left: 1000px;
    width: 80px;
    font-size: 10px;
    height: 25px;
    border-radius: 15px 0 0 15px;
    border: none;
    border-right: 1px;
    background-color: #7266BA;
    color: #fff;
}



.TaoDonHang {
    font-size: 10px;
    height: 25px;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 80px;
    background-color: #ABD373;
    color: #fff;

}




.input {
    margin-left: 30px;
    height: 30px;
    width: 220px;
    font-size: 16px;
    border: none;
    border-radius: 15px 0 0 15px;
    text-align: left;
    padding-left: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
}





.SearchButton {
    font-size: 20px;
    height: 30px;
    width: 35px;
    border: none;
    border-radius: 0 15px 15px 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}



.userArea {
    display: flex;
    align-items: center;
    margin-left: 120px;
    background-color: #ABD373;
    color: #fff;
    height: 100%;
    width: 140px;
    padding: 10px;
    font-size: 12px;

}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 5px;
}