.dmSP {
    width: 1920px;
    height: 1080px;
    background: #F0F2F5;
    padding-top: 50px;
    padding-left: 200px;
}

.contaiNer {
    padding: 20px;
    padding-top: 30px;
    background: rgb(255, 255, 255);
    width: 95%;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: 0px 5px 5px #999999;
}

.top {
    display: flex;
}

.title {
    color: #9acc51;
    margin-top: 0px;
    font-weight: 700;
}

.themdmsp {
    background: #ABD373;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 0 15px;
    margin: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 250px;
    height: 35px;
    gap: 10px;

}

.themdmsp:hover {
    background-color: #9acc51;
    border-color: #9acc51;
    color: #fff;
}