.spBan{
    width: 1920px;
    height: 1080px;
    background: #F0F2F5;
    padding-top: 50px;
    padding-left: 50px;
}

.mainSpBan{
    padding: 20px;
    padding-top: 30px;
    background: rgb(255, 255, 255);
    width: 1740px;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow:  0px 5px 5px #999999;
}

.topSpBan{
    display: flex;
}

.titleSpBan{
    color: #9acc51;
    margin-top: 0px;
}

.btn-napSpBan{
    border: solid 0.5px;
    border-radius: 20px;
    color: #000;
    padding: 0 5px;
    margin-left: 1110px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 125px;
    height: 25px;
    gap: 5px;
    font-size: 13px;
}

.btn-xuatSpBan{
    border: solid 0.5px;
    border-radius: 20px;
    color: #000;
    padding: 0 5px;
    margin-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 125px;
    height: 25px;
    gap: 5px;
    font-size: 13px;
}

.btn-napSpBan:hover{
    background: #d8d7d7;
    color: #000;
}

.btn-xuatSpBan:hover{
    background: #d8d7d7;
    color: #000;
}

.btn-themSpBan{
    background: #ABD373;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 0 15px;
    margin: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 175px;
    height: 35px;
    gap: 5px;  
}

.btn-themSpBan:hover{
    background-color: #9acc51;
    border-color: #9acc51;
    color: #fff;
}

.nhaptimkiem{
    padding: 8px 20px;
    border: solid 0.5px;
    border-radius: 20px 0 0 20px;
    display: flex;
    width: 250px;
    height: 35px;
    margin: 10px;
}

.timkiemSpBan{
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    background: #ABD373;
    display: flex;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 6px 15px;
    margin-left: -10px;
    text-decoration: none;
    
}

.timkiemSpBan:hover{
    background-color: #9acc51;
    border-color: #9acc51;
    
}

.btn-themdmsp{
    background: #7266ba;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 0 15px;
    margin: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 250px;
    height: 35px;
    gap: 10px;
    margin-left: 830px;
}

.btn-themdmsp:hover{
    background-color: #6254b2;
    border-color: #6254b2;
    color: #fff;
}

.topMidSpBan{
    display: flex;
}

.bottomSpBan{
    display: flex;
    float: right;
    margin: -50px 15px;
    font-size: 15px;
}

.trangDau{
    margin-right: 5px;
    border-radius: 15px;
    background: #fff;
    border: none;
    width: 90px;
    height: 30px;
}

.trangDau:hover{
    background: #d8d7d7;
}

.troLai{
    margin-right: 5px;
    border-radius: 15px;
    background: #fff;
    border: none;
    width: 80px;
    height: 30px;
}

.troLai:hover{
    background: #d8d7d7;
}

.keTiep{
    margin-right: 5px;
    border-radius: 15px;
    background: #fff;
    border: none;
    width: 80px;
    height: 30px;
}

.keTiep:hover{
    background: #d8d7d7;
}

.trangCuoi{
    margin-right: 5px;
    border-radius: 15px;
    background: #fff;
    border: none;
    width: 90px;
    height: 30px;
}

.trangCuoi:hover{
    background: #d8d7d7;
}

